{% extends 'admin/base.html.twig' %}

{% block title %}ACTE DE REVERSION DE {{ reversion.matricul }}{% endblock %}

{% block body %}
    <div class="container">
        <h3 class="h3">
            Enregistrement de l'acte de réversion de {{ reversion.nomsAyantDroit }} 
            (<strong>{{ reversion.matricul }}</strong>)
        </h3>

        {# Affichage du formulaire créé avec symfony#}
        {{ form_start(form) }}
            <h4 class="text-primary">
                Veuillez saisir les informations telles que portées sur les actes
                <span class="badge badge-primary float-right">COMPTEUR: 1000</span>
            </h4>
            <hr>
            <div class="row">
                <div class="col">
                    {{ form_row(form.numActeRevers) }}
                </div>
                <div class="col">
                    {{ form_row(form.dateSignatureRev) }}
                </div>
                <div class="col">
                    {{ form_row(form.typeActe) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form_row(form.nomsAuteur) }}
                </div>
                <div class="col">
                    {{ form_row(form.matriculeAuteur) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form_row(form.ministere) }}
                </div>
                <div class="col">
                    {{ form_row(form.dateDeces) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form_row(form.nomsAdActe) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form_row(form.qualiteAyantDroit) }}
                </div>
                <div class="col">
                    {{ form_row(form.dateNaisDerOrph) }}
                </div>
            </div>
            <div class="alert alert-secondary clearfix">
                <h3 class="alert-heading">Sauvegarder l'acte de réversion</h3>
                <p>
                    Vous êtes sur le point d'enregistrer les informations de l'acte octroyant une pension de
                    réversion à <strong><span class="text-primary">{{ reversion.nomsAyantDroit }}</span></strong>, 
                    cliquez sur le bouton "Enregistrer les informations" !
                </p>
                <button type="submit" class="btn btn-primary float-right">
                    <i class="fas fa-check"></i>
                    Enregistrer les informations
                </button>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}