{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/bootstrap-datepicker.min.css"/>
{% endblock %}

{% block title %}ACTE DE REVERSION DE {{ reversion.matricul }}{% endblock %}

{% block body %}
    <div class="container">
        <h3 class="h3">
            Enregistrement de l'acte de réversion de {{ reversion.nomsAyantDroit }} 
            (<strong>{{ reversion.matricul }}</strong>)
        </h3>

        {# Affichage du formulaire créé avec symfony#}
        {{ form_start(form) }}
            <h4 class="text-primary">
                Veuillez saisir les informations telles que portées sur les actes
                <span class="badge badge-dark float-right">TOTAL DE REVERSIONS: {{ compteur }}</span>
                <span class="badge badge-dark float-right mr-3">REVERSIONS DU JOUR: {{ compteurDuJour }}</span>
            </h4>
            <hr>
            <div class="row">
                <div class="col">
                    {{ form_row(form.numActeRevers) }}
                </div>
                <div class="col">
                    {{ form_label(form.dateSignatureRev, "Date de signature de l'acte") }}
                    {{ form_widget(form.dateSignatureRev, {'attr': {'placeholder': 'jj/mm/aaaa'}}) }}
                </div>
                <div class="col">
                    {{ form_row(form.typeActe) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form_row(form.matriculeAuteur) }}
                </div>
                <div class="col">
                    {{ form_label(form.dateDeces, "Date de décès") }}
                    {{ form_widget(form.dateDeces, {'attr': {'placeholder': 'jj/mm/aaaa'}}) }}
                </div>
                <div class="col">
                    {{ form_label(form.ministere, "Ministère où l'on a délivré l'acte") }}
                    {{ form_widget(form.ministere) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form_row(form.nomsAdActe) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form_row(form.qualiteAyantDroit) }}
                </div>
                <div class="col">
                    {{ form_label(form.dateNaisDerOrph, "Date de naissance du dernier orphelin mineur") }}
                    {{ form_widget(form.dateNaisDerOrph, {'attr': {'placeholder': 'jj/mm/aaaa'}}) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form_row(form.ptoPermanent_y_n) }}
                </div>
                <div class="col">
                    {{ form_row(form.telephone) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form_row(form.observation) }}
                </div>
            </div>

            <div class="alert alert-secondary clearfix">
                <h3 class="alert-heading">Sauvegarder l'acte de réversion</h3>
                <p>
                    Vous êtes sur le point d'enregistrer les informations de l'acte octroyant une pension de
                    réversion à <strong><span class="text-primary">{{ reversion.nomsAyantDroit }}</span></strong>, 
                    cliquez sur le bouton "Enregistrer les informations" !
                </p>
                <button type="submit" class="btn btn-primary float-right">
                    <i class="fas fa-check"></i>
                    Enregistrer les informations
                </button>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/js/bootstrap-datepicker.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#regul_rev_susp_dateSignatureRev, #regul_rev_susp_dateDeces, #regul_rev_susp_dateNaisDerOrph').datepicker({
				todayHighlight: true,
                format: 'dd/mm/yyyy',
            });
        })
    </script>
{% endblock %}