{% extends 'admin/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/bootstrap-datepicker.min.css"/>
{% endblock %}

{% block title %}ACTE D'INVALIDITE DE {{ invalidite.matriculInv }}{% endblock %}

{% block body %}
    <div class="container">
        <h3 class="h3">
            Enregistrement de l'acte de réversion de {{ invalidite.nomAgentInvalide }} 
            (<strong>{{ invalidite.matriculInv }}</strong>)
        </h3>

        {# Affichage du formulaire créé avec symfony#}
        {{ form_start(form) }}
            <h4 class="text-primary">
                Veuillez saisir les informations telles que portées sur les actes
                <span class="badge badge-dark float-right">TOTAL D'INVALIDITE: {{ compteur }}</span>
                <span class="badge badge-dark float-right mr-3">INVALIDITE DU JOUR: {{ compteurDuJour }}</span>
            </h4>
            <hr>
            <div class="row">
                <div class="col">
                    {{ form_row(form.numActeInval) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form_row(form.typeActeInv) }}
                </div>
                <div class="col">
                    {{ form_row(form.dateSignatureInv) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form_row(form.nomsInvActe) }}
                </div>
                <div class="col">
                    {{ form_label(form.dateInvalidite, "Date d'effet de l'invalidité") }}
                    {{ form_widget(form.dateInvalidite, {'attr': {'placeholder':'jj/mm/aaaa'}}) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form_label(form.whyIsNotAuthentik, "Raison de la non authenticité") }}
                    {{ form_widget(form.whyIsNotAuthentik, {'attr': {'placeholder':'Ex: Faux document'}}) }}
                </div>
            </div>
            <div class="alert alert-secondary clearfix">
                <h3 class="alert-heading">Sauvegarder l'acte de réversion</h3>
                <p>
                    Vous êtes sur le point d'enregistrer les informations de l'acte octroyant une pension d'invalidité 
                    à <span class="text-primary">{{ invalidite.nomAgentInvalide }}</span>, cliquez sur 
                    le bouton "Enregistrer les informations" !
                </p>
                <button type="submit" class="btn btn-primary float-right">
                    <i class="fas fa-check"></i>
                    Enregistrer les informations
                </button>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/js/bootstrap-datepicker.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#invalidite_dateSignatureInv, #invalidite_dateInvalidite').datepicker({
				todayHighlight: true,
                format: 'dd/mm/yyyy',
            });
        })
    </script>
{% endblock %}